<container>
    <h4>All job listings</h4>
    <nav>
        <div class="nav-wrapper blue darken-3">
            <a class="brand-logo">Filters</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <div class="input-field blue darken-2">
                        <select class="employment-type-dropdown">
                            <option value="full time" selected>Full Time</option>
                            <option value="contract">Contract</option>
                            <option value="part time">Part Time</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="input-field blue darken-2">
                        <select class="remote-dropdown">
                            <option value="true" selected>Remote - True</option>
                            <option value="false">Remote - False</option>
                        </select>
                    </div>
                </li>
                <li>
                    <a id="apply-btn" class="waves-effect waves-light btn">Apply</a>
                </li>
            </ul>
        </div>
    </nav>

    {{!-- Lee to work here and add cards and pages --}}
    <div class="row">
        {{#each data.results as |job|}}
        <div class="col s12 m6 l4 jobCard" id ={{job.employType}}>
            <div class='card light-blue lighten-5'>
                <div class="card-content">
                    <span class="card-title">{{job.role}}</span>
                    <p>Company: {{job.company_name}}</p>
                    <p>Posted on: {{format_date job.date_posted}}</p>
                </div>
                <div class="card-action light-blue lighten-4">
                    <a href="job/{{job.id}}" class="purple-text text-darken-4">Go to job page</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</container>

<script src="../../js/alljobs.js"></script>