<h4>Job details and notes</h4>

<a class="purple btn darken-4" href="/dashboard">Return to dashboard</a>

<div class="card">
  <div class="card-content">

    <span class="card-title" id="job_title">{{data.role}}</span>

    <p><strong>Company: </strong><span id="company_name">{{data.company_name}}</span></p>
    {{#if data.location}}
    <p><strong>Location: </strong> {{data.location}}</p>
    {{/if}}
    <p><strong>Posted on: </strong> {{format_date data.date_posted}}</p>
    <p><strong>Remote: </strong> {{#if data.remote}}Yes🏠{{else}}No🏢{{/if}}</p>

    <a href="https://findwork.dev/{{data.id}}" target="blank">CLICK HERE TO APPLY</a>

    <ul class="collapsible job-details">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">arrow_drop_down</i>
          Show job details
        </div>
        <div class="collapsible-body">
          <p>{{{data.text}}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-action">
    <p><strong>Status: </strong> {{status.status}} </p>
    <button data-target="status-modal" class="deep-purple btn darken-4 modal-trigger">Update status</button>
  </div>
</div>

{{#if notes}}
<h5>Your notes:</h5>
{{else}}
<h5>Add your notes below.</h5>
{{/if}}

{{#each notes as |note|}}
    <div class='card'>
        <div class="card-content">
        <span class="card-title">{{note.note_title}}</span>
        <p>Note: {{note.note_body}}</p>
      </br>
      
      <p>Note made on: {{format_date note.createdAt}}</p>
    </div>
    <div class="card-action deep-purple lighten-4">
      <button id="delete-note-btn" data-id="{{note.id}}" class="btn red lighten-1" type="submit">Remove note</button>
    </div>
  </div>
{{/each}}

{{! form to add a note}}
<form class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <textarea id="note_title" class="materialize-textarea"></textarea>
      <label for="note_title">Enter note title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="note_body" class="materialize-textarea"></textarea>
      <label for="note_body">Enter note body</label>
    </div>
  </div>
  <button class="btn deep-purple darken-1" id="save-note-btn" type="submit">Add new note</button>
</form>

{{! modal to update status }}
<div id="status-modal" class="modal">
  <div class="modal-content">
    <h4>Choose new status</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <select id="status">
            <option value="" disabled selected>Status</option>
            <option value="Applied">Applied</option>
            <option value="Rejected">Rejected</option>
            <option value="Need to apply">Need to apply</option>
            <option value="Offer received">Offer received</option>
            <option value="Job no longer available">Job no longer available</option>
          </select>
          <label>Choose status</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="modal-close waves-effect waves-green btn-flat"
      id="update-status-btn"
    >Save</button>
  </div>
</div>

<script src="../../js/deletenote.js"></script>
<script src="../../js/addnote.js"></script>
<script src="../../js/status.js"></script>


