<h4>Job details and notes</h4>

<div class="card">
  <div class="card-content">
    <span class="card-title" id="job_title">{{data.role}}</span>
    <p>Company: </p>
    <p id="company_name">{{data.company_name}}</p>
    <p> Posted on: {{format_date data.date_posted}}</p>
    <p>Job details:</p>
    <div>
      {{{data.text}}}
    </div>
  </div>
</div>

<h5>Your notes:</h5>
{{#each notes as |note|}}
    <div class='card'>
        <div class="card-content">
            <span class="card-title">
        {{note.note_title}}</span>
        <p>
        Note: {{note.note_body}}
        </p>

      </br>
      
      <p>
        Note made on: {{format_date note.createdAt}}
      </p>
        </div>
        <div class="card-action">
          <button id="delete-note-btn" data-id="{{note.id}}" class="btn red accent-4" type="submit">Remove note</button>
        </div>
    </div>
{{/each}}

{{! form to add a note}}
<form class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <textarea id="note_title" class="materialize-textarea"></textarea>
      <label for="note_title">Enter note title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="note_body" class="materialize-textarea"></textarea>
      <label for="note_body">Enter note body</label>
    </div>
  </div>
  <button class="btn purple darken-1" id="save-note-btn" type="submit">Add new note</button>
</form>

<script src="../../js/deletenote.js"></script>
<script src="../../js/addnote.js"></script>



