{<h4>Job details</h4>

<div class="card">
  <div class="card-content">
    <h4>Job Details</h4>
    <p><strong>Job Title:</strong> <a href="{{data.job_url}}" target="_blank">{{data.role}}</a></p>
    <p><strong>Company:</strong> <a href="{{data.job_url}}" target="_blank">{{data.company_name}}</a></p>
    <p><strong>Posted on:</strong> {{format_date data.date_posted}}</p>
    <p><strong>Remote:</strong> {{#if data.remote}}true{{else}}false{{/if}}</p>
    <a href="{{data.job_url}}" target="_blank">Link to Job</a>
    <p><strong>Job Details:</strong></p>
    <ul class="collapsible job-details">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">arrow_drop_down</i>
          Show More
        </div>
        <div class="collapsible-body">
          <p>{{{data.text}}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var collapsibleElements = document.querySelectorAll('.collapsible');
    M.Collapsible.init(collapsibleElements, {});
  });
</script>


    {{!-- missing link to actual job to apply--} - Done}
    {{!-- remote true or false --} - Done}
    {{!-- ideally, data.text is too long. We want to try to collapse it --}}
  </div>


</div>

{{! form to add a note and status}}
<form class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <select id="status">
        <option value="" disabled selected>Status</option>
        <option value="Applied">Applied</option>
        <option value="Rejected">Rejected</option>
        <option value="Need to apply">Need to apply</option>
        <option value="Offer received">Offer received</option>
      </select>
      <label>Choose status</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="note_title" class="materialize-textarea"></textarea>
      <label for="note_title">Enter note title</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="note_body" class="materialize-textarea"></textarea>
      <label for="note_body">Enter note body</label>
    </div>
  </div>
  <button class="btn purple darken-1" id="save-job-btn" type="submit">Save Job</button>
</form>

<script src="../js/savejob.js"></script>