<h4>Job Details:</h4>

{{#if notSaved}}
<button data-target="save_job_modal" class="btn deep-purple darken-1 modal-trigger">Save This Job</button>
{{else}}
<p><strong>You already have this job saved!
Go to your <a href="/dashboard">DASHBOARD</a>.</strong></p>
{{/if}}

<div class="card">
  <div class="card-content">
    <p><strong>Job Title: </strong><span id="job_title">{{data.role}}</span></p>
    <p><strong>Company: </strong><span id="company_name">{{data.company_name}}</span></p>
    {{#if data.location}}<p><strong>Location: </strong> {{data.location}}</p>{{/if}}
    {{#if data.keywords}}<p><strong>Tags: </strong> {{data.keywords}}</p>{{/if}}
    <p><strong>Posted on: </strong> {{format_date data.date_posted}}</p>
    <p><strong>Remote: </strong> {{#if data.remote}}Yes🏠{{else}}No🏢{{/if}}</p>
    <br>
    
    <ul class="collapsible job-details">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">arrow_drop_down</i>
          Show job details
        </div>
        <div class="collapsible-body">
          <p>{{{data.text}}}</p>
        </div>
      </li>
    </ul>
    <div class="card-action deep-purple lighten-4">
      <a href="https://findwork.dev/{{data.id}}" target="blank" class="purple-text text-darken-4">Click here to apply to this job</a>
    </div>

  </div>
</div>

{{! modal to add a note and status}}

<div id="save_job_modal" class="modal">
  <div class="modal-content">
    <h4>Save this job to your dashboard and add status/note:</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <select id="status">
            <option value="" disabled selected>Status</option>
            <option value="Applied">Applied</option>
            <option value="Rejected">Rejected</option>
            <option value="Need to apply">Need to apply</option>
            <option value="Offer received">Offer received</option>
          </select>
          <label>Choose status</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="note_title" class="materialize-textarea"></textarea>
          <label for="note_title">Enter note title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="note_body" class="materialize-textarea"></textarea>
          <label for="note_body">Enter note body</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn deep-purple darken-1" id="save-job-btn" type="submit">Save Job</button>
  </div>
</div>

<script src="../js/savejob.js"></script>
